html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 70px !important;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #d1e0e0; /*#f5f5f5;*/
  text-align:center;
}

.scrollable-container{
  height:calc(100vh - 165px);
  overflow-y: auto;
  overflow-x: none;
}
